<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657119293554-gc67tjrc24pjgmmq609h7da9d9i6lamm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657119293554-gc67tjrc24pjgmmq609h7da9d9i6lamm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657119293554-3cbcla0gnhdmbmqn59rpfbnch01l126d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXmXKTPsSfuePerOyYQamg8VLDYIwWe5c</string>
	<key>GCM_SENDER_ID</key>
	<string>657119293554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloomMama</string>
	<key>PROJECT_ID</key>
	<string>bloommama-765be</string>
	<key>STORAGE_BUCKET</key>
	<string>bloommama-765be.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657119293554:ios:753dc09bd06c0e637c52eb</string>
</dict>
</plist>